
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Patrick+Hand+SC&display=swap');

body{
   font-family: 'Kalam', cursive;
    background-color: lavender;
    font-size: 20px;

}
h2{ 
    color: rgb(24, 105, 81);
    font-family: 'Patrick Hand SC', curvive;
}
